{# new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Nouvel événement{% endblock %}

{% block body %}
  <h1>Nouvel événement</h1>

  {{ form_start(form, {'attr': {'id': 'add-event-form'}}) }}
  {{ form_row(form.title) }}
  {{ form_row(form.start) }}
  {{ form_row(form.end) }}
  {{ form_row(form.color) }}

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Enregistrer</button>
  </div>
  {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="module" src="{{ asset('js/addEvent.js') }}"></script>
{% endblock %}
