{% extends 'dashboard.html.twig' %}


{% block page_content %}
	{% block card_user %}
		<h3 class="display-4 fw-bold text-center py-5">Liste des contacts</h3>

		<div class="table-responsive mx-auto">
			<table class="table table-hover">
				<thead class="table-dark">
					<tr>
						<th scope="col">Nom</th>
						<th scope="col">Email</th>
						<th scope="col">Téléphone</th>
						<th scope="col">Type de contact</th>
						<th scope="col"></th>

					</tr>
				</thead>
				<tbody>
					{% for contact in contacts %}
						<tr>
							<td style="display:none">{{ contact.id }}</td>
							<td>{{ contact.firstName }}
								{{ contact.lastName }}</td>
							<td>{{ contact.email }}</td>
							<td>{{ contact.phone }}</td>
							<td>
								{% if contact.getTypeContact() == "collaborateur" %}
									<span class="badge bg-primary">{{ contact.getTypeContact() }}</span>
								{% elseif contact.getTypeContact() == "client" %}
									<span class="badge bg-success">{{ contact.getTypeContact() }}</span>
								{% elseif contact.getTypeContact() == "prestataire" %}
									<span class="badge bg-warning">{{ contact.getTypeContact() }}</span>
								{% elseif contact.getTypeContact() == "fournisseur" %}
									<span class="badge bg-danger">{{ contact.getTypeContact() }}</span>
								{% else %}
									<span class="badge bg-secondary">{{ contact.getTypeContact() }}</span>
								{% endif %}
							</td>
							<td>
								<form id="addContactForm{{ contact.id }}" action="{{ path('add_contact', { userId: app.user.id, contactId: contact.id }) }}" method="POST">
									<input type="hidden" name="contactId" value="{{ contact.id }}">
									<input type="hidden" name="userId" value="{{ app.user.id }}">
									<button type="submit" class="btn btn-primary add-contact-button">Ajouter le contact</button>
								</form>
								{% include 'liste_contact/modal_confirm_add.html.twig' with { contact: contact } %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% if app.request.hasPreviousSession() %}
			{% for message in app.flashes('success') %}
				<div class="modal fade {{ modal == 'success' ? 'show' }}" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="{{ modal == 'success' ? 'false' : 'true' }}">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="successModalLabel">Confirmation</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								{{ message }}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}

		<!-- Modal -->
		<div class="modal fade" id="addContactModal" tabindex="-1" aria-labelledby="addContactModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="addContactModalLabel">Confirmation</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						Contact ajouté avec succès.
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
					</div>
				</div>
			</div>
		</div>


	{% endblock %}
{% endblock %}
